.word {
	display: flex;
	gap: 0.25em;
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	font-family: monospace;
}

.letter {
	border-bottom: 0.1em solid black;
	&__visible {
		visibility: visible;
	}
	&__hidden {
		visibility: hidden;
	}
	&__guessed {
		color: black;
	}
	&__unguessed {
		color: red;
	}
}
